[submodule "externals/buildarr"]
	path = externals/buildarr
	url = ../buildarr.git
[submodule "externals/buildarr-sonarr"]
	path = externals/buildarr-sonarr
	url = ../buildarr-sonarr.git
[submodule "externals/buildarr-prowlarr"]
	path = externals/buildarr-prowlarr
	url = ../buildarr-prowlarr.git
[submodule "externals/buildarr-jellyseerr"]
	path = externals/buildarr-jellyseerr
	url = ../buildarr-jellyseerr.git
[submodule "externals/buildarr-radarr"]
	path = externals/buildarr-radarr
	url = ../buildarr-radarr.git
